body{
    background-color: #141414;
}

@font-face {
    font-family: Akira ;
    src: url(../Akira\ Expanded\ Demo.otf);
}

nav {
    width: 100%;
    height: 200px;
    margin: -8px;
    position: fixed;
    background-color: rgb(109, 9, 9);
    background-image: linear-gradient(rgb(109, 9, 9), rgb(109, 9, 9), rgb(109, 9, 9),  rgba(20,20,20,1), rgba(20,20,20,1));
    opacity: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav *{
    color: white;
    font-family: 'Akira';
    justify-content: flex-end;
}

nav ul{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}



.references {
    width: 100%;
    height: 100px;
    margin: -8px;
    position: absolute;
    top: 2000px;
    background-color: grey;
}
